In [8]:
import sqlite3

# sample.db という名前のデータベースファイル
db = 'samlpe.db'

# データベースに接続：Connectionオブジェクトを作成
# データベースがすでに存在するときはそのまま接続
# データベースがないときは新しく作成して接続
con = sqlite3.connect(db)

# カーソルオブジェクトを作成    
csr = con.cursor()

# テーブルを作成
sql = 'create table Employee(name,email,department,position);'
csr.execute(sql)

# 保存
con.commit()

# 接続を終了
con.close()

OperationalError: table Employee already exists

In [9]:
import sqlite3

# sample,db という名前のデータベースファイル
db = 'sample.db'

# データベースに接続
con = sqlite3.connect(db)

# カーソルオブジェクトを作成
csr = con.cursor()

# デーブルにデータを格納
sql = "insert into Employee(name,email,department,position) \
values('Yamada','yamada@abcxyz.co.jp','Sales','staff');"
csr.execute(sql)
sql = "insert into Employee(name,email,department,position) \
values('Suzuki','suzuki@abcxyz.co.jp','Development','staff');"
csr.execute(sql)

# この時点の内容を確認
sql = 'select * from Employee;'
csr.execute(sql)
print(csr.fetchall())

# テーブルからデータを削除
sql = "dalete from Employee where name = 'Yamada';"
csr.execute()

# この時点で内容を確認
sql = "select * from Employee;"
csr.execute()
print(csr.fetchall())

# テーブルの中のデータを更新
sql = "update Employee set position = 'Manager' where name = 'Suzuki';"
csr.execute()

# 保存
con.commit()

# なお用を読み取って表示
sql = "select * fron Employee;"
csr.execute()
print(csr.fetchall())

# 接続を終了
con.close()

OperationalError: no such table: Employee

In [10]:
csr.execute('drop table data_set')
con.commit()

OperationalError: no such table: data_set

In [11]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute('create table human(name,nickname);')

csr.execute("insert into human(name) values('Ichiro');")
csr.execute("insert into human(name) values('jiro');")
csr.execute("insert into human(name) values('Saburo');")

csr.execute("update human set nickname = 'Lazer' where name = 'Ichiro';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('jiro', None), ('Saburo', None)]

In [12]:
import sqlite3

In [13]:
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

In [ ]:
csr.execute('create table human(name,nickname);')

In [ ]:
csr.execute("insert into human(name) values('Ichiro');")
csr.execute("insert into human(name) values('jiro');")
csr.execute("insert into human(name) values('Saburo');")

In [ ]:
csr.execute("update human set nickname = 'Lazer' where name = 'Ichiro';")

In [ ]:
csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

In [19]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute("update human set nickname = 'Lazer' where name = 'Jiro';")

csr.execute("delete from human where nickname = 'Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('jiro', None), ('Saburo', None)]

In [ ]:
csr.execute("update human set nickname = 'Lazer' where name = 'Jiro';")

In [ ]:
csr.execute("delete from human where nickname = 'Lazer';")